body,h1,h2,h3,h4,h5,h6,a,div,span,p,section,li{
    font-family: cairo !important;
}
.badge-yellow{
    background-color: #ffeb3b;
}

.magenta {
    color: #cc52b7;
}
.bg-gradient-x-magenta, .badge-magenta {
    background-color: #cc52b7;
}

.dark{
     color: #464855;
}
.bg-gradient-x-dark{
    background-color: #464855;
}

.known {
    color: #1eb5a7;
}

.bg-gradient-x-known,  .badge-known {
    background-color: #1eb5a7;
}

.badge-custom1{ background-color: #1f3be2 }
.badge-custom2{ background-color: #fba022 }
.badge-custom3{ background-color: #00e883 }
.badge-custom4{ background-color: #415a37 }
.badge-custom5{ background-color: #90b77a }
